# Sample configuration for lxvt-0.5.0. To use, copy it to ~/.lxvtrc.
#
# This sets up a pseudo-transparent terminal with black tinted background, Xft
# font, a transparent Firefox style tab-bar, and a next style scroll bar.
#
# Additionally, using the -name option you can get the following behaviour:
#
#   Full screen:
#   	Start lxvt with "lxvt -name FullScreen". Produces a full screen
#   	terminal.
#
#   Kitchen Sink:
#   	Start lxvt with "lxvt -name KitchenSink". This produces an lxvt
#   	window with three tabs on startup. It loads your shell in the first tab,
#   	and vim and mutt in the other two tabs. There aren't any other
#   	applications you need to load anyway... ;)
#
#   FvwmConsole:
#   	Produces a small blue tinted terminal, mainly for use as an fvwm
#   	console. Just load the FvwmConsole module with
#
#   		FvwmConsole -terminal lxvt
#
#   	and these settings will be used.
#
#   Root:
#   	Start lxvt with "lxvt -name Root". This produces a green tinted lxvt
#   	windows which loads a root shell in the first tab. Ctrl+Shift+t opens a
#   	new tab as root, and Ctrl+Shift+n opens a new tab as a regular user.
#


#
# -----------------------------	TAB-BAR OPTIONS ------------------------------ #
#

# Only show the tab bar if there is more than one tab.
lxvt.autohideTabbar:		True

# The number of tabs to attempt to keep visible. The width of tabs will shrink
# to keep at least these many tabs visible.
lxvt.minVisibleTabs:		8

# The max width in chars for each tab (only used with x11 fonts, or if xftPFont
# is not specified).
# lxvt.maxTabWidth:		17

# Hide left / right / close buttons in the tab bar.
# lxvt.hideButtons:		True

# Make the terminal title the same as the active tab title.
lxvt.syncTabTitle:		True
# lxvt.syncTabIcon:		true

# Display the tab number in the title. Useful so that you can use Alt+digit to
# quickly switch between tabs.
lxvt.titleFormat:		%n. %t

# Highlight inactive tabs only when they sound a bell (and not whenever they
# produce output).
lxvt.highlightTabOnBell:	True

# Tab bar colors
lxvt.itabBackground:		#101010
lxvt.tabBackground:		#000000
lxvt.itabForeground:		#909090
lxvt.tabForeground:		#9a9a9a

# lxvt.tabbarPixmap:		tabbarbg.png
# lxvt.tabUsePixmap:		false

# Monitor tabs for activity or inactivity
# (alternate arguments for MonitorTab macro : "INACTIVITY" / "ACTIVITY")
lxvt.macro.Ctrl+Shift+g:		MonitorTab AUTO
#lxvt.monitorTimeout:		 2000
#lxvt.monitorCommand:           play ~/.ding_sound.wav
#lxvt.monitorCommand:           aosd_cat --fontdesc="Trebuchet 20" --ypos=50 --delay=4000 Alert on tab %n :: %t
#lxvt.monitorCommand:           xmessage Monitor alert on tab %n

#
# ---------------------- SCROLLING / SCROLLBAR OPTIONS ----------------------- #
#

lxvt.scrollBar:		true
lxvt.scrollbarRight:		true
lxvt.scrollbarStyle:		rxvt

# Number of lines to save in the scroll back buffer for all tabs
lxvt.saveLines:		500

# Don't scroll to the bottom every time some output is produced.
lxvt.scrollTtyOutputInhibit:	true

# Scroll to the bottom when a key is pressed.
lxvt.scrollTtyKeypress:	true

# Scroll bar colors
lxvt.scrollColor:		#808080
lxvt.troughColor:		#202020

# lxvt.scrollbarPixmap:	scrollbarbg.jpg


#
# ------------------------------- TRANSPARENCY ------------------------------- #
#

# True translucency (using Xorg's composite extension).
# lxvt.opacity:		75
# lxvt.opacityDegree:		5

# Pseudo transparency. As long as you set the background using an esetroot
# compatible program (e.g. feh), then the following will work. It is pretty
# resource friendly too :).
lxvt.transparent:		True
lxvt.transparentScrollbar:	True
lxvt.transparentTabbar:	True
lxvt.transparentMenubar:	False

# Color / degree to which the root background should be tinted.
lxvt.tintColor:		#000000
lxvt.shading:			75

#
# ---------------------------------- FONTS ----------------------------------- #
#
lxvt.xft:			1
lxvt.xftFont:			Bitstream Vera Sans Mono
lxvt.xftSize:			13
lxvt.xftAntialias:		1

# The options below are better set using ~/.fonts.config. lxvt will use the
# defaults passed to the fontconfig library.
#
# lxvt.xftHinting:		1
# lxvt.xftAutoHint:		1
# lxvt.xftGlobalAdvance:	1
# lxvt.xftRGBA:		rgb
# lxvt.xftslow:		1

# Don't load a multi-char font. This will reduce the line space if your multi
# char font has different dimensions than the regular font. You might need to
# comment it out if you want to use XIM and non-english fonts.
lxvt.xftNomFont:		1

# Font to use for tab bar / menus. This need not be mono-spaced ;).
lxvt.xftPFont:			Bitstream Vera Sans
lxvt.xftPSize:			10

# Shadow text
# lxvt.textShadow:		red
# lxvt.textShadowMode:		botright

#
# XIM input / multi char support. To use this, you should also comment out the
# xftNomFont line above.
#
# lxvt.xftmFont:		SimSun
# lxvt.multichar_encoding:	GB
# lxvt.inputMethod:		SCIM

#
# ---------------------------------- CURSOR ---------------------------------- #
#
lxvt.cursorBlink:		true
lxvt.cursorColor:		#00ff00
lxvt.cursorColor2:		#000000

#
# ---------------------------------- COLORS ---------------------------------- #
#

# Setup colors for a black background.
lxvt.background:		#000000
lxvt.foreground:		#9a9a9a

lxvt.color0:			#000000
lxvt.color1:			#af0000
lxvt.color2:			#00af00
lxvt.color3:			#afaf00
lxvt.color4:			#0000af
lxvt.color5:			#af00af
lxvt.color6:			#00afaf
lxvt.color7:			#9a9a9a
lxvt.color8:			#5f5f5f
lxvt.color9:			#d70000
lxvt.color10:			#00d700
lxvt.color11:			#d7d700
lxvt.color12:			#0000d7
lxvt.color13:			#d700d7
lxvt.color14:			#00d7d7
lxvt.color15:			#d7d7d7

# Display bold and underlined text in color, rather than using the terminal
# attributes. This makes reading man pages a little easier.
lxvt.colorBD:			#00afaf
lxvt.colorUL:			#00af00
# lxvt.colorRV:		#000040

# Display the X selection as highlighted instead of using reverse video.
lxvt.highlightColor:		#303060

# Colors when terminal window looses focus. (Does not work well with Xft).
# lxvt.ufBackground:		yellow
# lxvt.backgroundFade:		50

#
# ------------------------------- MISC OPTIONS ------------------------------- #
#

# Display menu
lxvt.showMenu:     True

# The value of the TERM environment variable. Default is rxvt. If you have
# trouble, try uncommenting the following line.
# lxvt.termName:		xterm

# Default title of each tab.
lxvt.tabTitle:			lxvt

# Border to leave around terminal text
lxvt.internalBorder:		2

# Make double click select whole URL's
lxvt.cutChars:			:=/~#@?%&_-.0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ0abcdefghijklmnopqrstuvwxyz

# Blank the mouse pointer on keystrokes or after 10 seconds of inactivity.
lxvt.pointerBlank:		True
lxvt.pointerBlankDelay:	10

# Don't close the tab if the secondary screen is displayed (e.g. when running
# vim).
lxvt.protectSecondary:		True

# Run as a login shell.
# lxvt.loginShell:		True

# Enable session management
# lxvt.sessionMgt:		true

#
# --------------------------------- PROFILES --------------------------------- #
#

# Root console on profile 1. Matrix like green font for root :).
lxvt.profile1.foreground:	#809a70
lxvt.profile1.background:	#002000
lxvt.profile1.command:		su
lxvt.profile1.tabTitle:	su

# Better to start root consoles in root's home directory (and not the current
# directory).
lxvt.profile1.workingDirectory:/root
# lxvt.profile1.Pixmap:	matrix.jpg

# Vim on profile 2. Vim is run in a shell, so after Vim exits, you'll get the
# shell prompt.
lxvt.profile2.command:		!vim
# lxvt.profile2.Pixmap:	vim.png

# Mutt on profile 3. Kill the scroll back buffer, to save a little memory.
# lxvt.profile3.Pixmap:	email.jpg
lxvt.profile3.saveLines:	0
lxvt.profile3.command:		mutt
lxvt.profile3.workingDirectory:

#
# ---------------------------- KEYBOARD SHORTCUTS ---------------------------- #
#

# Open profiles 1 -- 4 on Ctrl+Shift+F1 -- F4.
lxvt.macro.Ctrl+Shift+F1:	NewTab -1
lxvt.macro.Ctrl+Shift+F2:	NewTab -2
lxvt.macro.Ctrl+Shift+F3:	NewTab -3
lxvt.macro.Ctrl+Shift+F4:	NewTab -4

#
# Save the scroll back buffer to a file, and open it (in less / vim) in a new
# tab. Useful for searching, or cut/paste from the scroll back buffer.
#
lxvt.macro.Primary+Ctrl+Shift+question: PrintScreen -ps perl -e '$_=join("",<STDIN>); s/\n+$/\n/g; print' > /tmp/%p-scrollback
lxvt.macro.Primary+Add+Ctrl+Shift+question: NewTab "(Tab %n scrollback)" \!less -ifLR +G /tmp/%p-scrollback; rm /tmp/%p-scrollback

lxvt.macro.Primary+Ctrl+slash: PrintScreen -s perl -e '$_=join("",<STDIN>); s/\n+$/\n/g; print' > /tmp/%p-scrollback
lxvt.macro.Primary+Add+Ctrl+slash: NewTab "(Tab %n scrollback)" \!view +"syn off| set nospell notitle noreadonly modifiable buftype=nofile |normal G" /tmp/%p-scrollback; rm /tmp/%p-scrollback


#
# When running a shell, this clears the scroll back buffer and executes the
# current command. Useful if you're going to (or have just) run a command that
# produces a lot of output. (Primary screen only).
#
lxvt.macro.Primary+Shift+Return:	Esc \ec
lxvt.macro.Primary+Add+Shift+Return:	Str ^M


# ---------------------------------------------------------------------------- #

#
#				CLASS SETTINGS
#

#
# ------------------------------- FULL SCREEN -------------------------------- #
#
# Set a large font ;)
FullScreen.xftSize:		17
FullScreen.xftPSize:		12

# Keep as many tabs as possible on screen
FullScreen.minVisibleTabs:	15

# Set the window size increment to 1, so that the X server can resize our window
# to the screen size without leaving any border.
FullScreen.smoothResize:	True

# Request a full screen window from the window manager. Requires a EWMH
# compatible window manager. This certainly works on OpenBox, Fvwm, KDE, and
# possibly many others.
FullScreen.fullscreen:		True


#
# ------------------------------- KITCHEN SINK ------------------------------- #
#
# Number of tabs to launch initially
KitchenSink.initProfileList:	    0,2,3


#
# ------------------------------- FVWM CONSOLE ------------------------------- #
#
FvwmConsole.initProfileList:	    4
FvwmConsole.profile4.tabTitle:	    FvwmConsole
FvwmConsole.profile4.background:    #101020
FvwmConsole.profile4.holdExit:	    4

FvwmConsole.xftSize:		    12
FvwmConsole.tintColor:		    #181830
FvwmConsole.geometry:		    60x15
FvwmConsole.scrollBar:		    False

#
# ------------------------------- ROOT CONSOLE ------------------------------- #
#

Root.initProfileList:		    1
Root.tintColor:			    #002000
Root.itabBackground:		    #002000

# ---------------------------------------------------------------------------- #
# vim: set ft=lxvtrc ts=8 sts=4:
